.titlebar {

display:flex;
justify-content:space-between;

}

.subscribebox {

    display:flex;
    width:400px;
    gap:20px;
}

.subbox {

    display:flex;
    width:70px;
    height:100px;
    background-color:gray;


}

.subright {

    display:flex;
    flex-direction:column;


}


.subbig {

    display:flex;
    font-size:20px;
    font-weight:700;
    color:goldenrod;

}

.subsmall {

    display:flex;
    width:200px;
    margin-top:-10px;


}






.Title {

    display:flex;
    font-size:60px;
    flex-direction:column;
    gap:5px;


}



.toplinetitle {

    display:flex;
    color:goldenrod;
    height:50px;
    align-items:center;


}


.popular {

    display:flex;


}

.orangebox {


    display:flex;
    width:45px;
    height:45px;
    background-color:goldenrod;

}


.titlebottom {


    display:flex;
    margin-top:0px;

}


.shoptop {

    display:flex;
    background-color: teal;
    flex-direction:column;
    color:white;
    font-size:30px;
    font-weight:700;
    width:200px;
    height:150px;
    align-items:center;


}

.shop {

    display:flex;


}


.WWtop {

    display:flex;
    margin-top:-25px;

}


.shoppingC {

    display:flex;
    width:40px;
    height:40px;
    margin-top:-30px;



}


.nav {

    display:flex;
    text-decoration:none;
    width:100%;
    background-color:black;
    color:white;
    justify-content:space-around;
    align-items:center;
    position:sticky;
    top:0;


}

.navlist {


    display:flex;
    gap:20px;
    align-items:center;
    justify-content:center;


}

.navitem {


    display:flex;
    padding:6px;

}

li:hover {

    background-color:goldenrod;


}

.search {

    display:flex;
    width:30px;
    height:30px;



}

.wholead {

    display:flex;
    height:400px;



}



.aroundad {


    width:100%;
    display:flex;
    justify-content:space-around;
    align-items:center;
    background-color: white;



}



.advertisement {

    display:flex;
    width:1000px;
    height:150px;
    background-color:maroon;
    justify-content: center;
    margin-top:30px;

}


.moret {

    display:flex;
    width:1000px;
    justify-self:center;
    align-self:center;


}

.latestt {

    display:flex;
    width:1000px;
    justify-self:center;
    align-self:center;


}

.arlatest {

    display:flex;
    justify-content:center;



}

.armore {

display:flex;
justify-content:center;


}


.latest {

    display:flex;
    font-size:40px;
    padding:0px;
    margin-top:0px;
    font-weight:800;

}


.postimgb {


display:flex;



}

.PostBig {

    display:flex;
    justify-content: center;
    gap:20px;




}


.bigimgone {

    display:flex;
    width:500px;
    height:350px;


}

.latestleft {

    display:flex;
    width:500px;
    flex-direction:column;

}

.latestright {

    display:flex;
    width:500px;
    flex-direction:column;

}

.smallcap {

    color:lightgray;

}

.imgtitle {

font-size:25px;
font-weight:700;
margin-top:-5px;



}


.imgdesc {

color:gray;
margin-top:-5px;

}


.keepreading {

padding:0px;
font-weight:700;
margin-top:-5px;

}

.keepreading:hover {

    color:goldenrod;


}

 #more {

    margin-top:20px;

 }


 .mpostimgsm {

    display:flex;
    width:350px;
    height:350px;

 }

 .mpost {
    display:flex;
    width:350px;
    flex-direction:column;


 }

 .postmore {

    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    gap:10px;
 }


 .mpostonetop {

    display:flex;
    gap:5px;

 }


 .bottom {
    display:flex;
    width:100%;
    flex-direction:column;
    background-color: lightgray;

 }

 .botomt {
    display:flex;
    flex-direction:column;
    text-align:center;
    font-size:25px;




 }


 .bottitle {
    display:flex;
    font-weight:900;
    align-self:center;




 }

 .botdes {
    display:flex;
    color:gray;
    width:1000px;
    align-self:center;
    margin-top:-10px;


 }

 .vidrep {

    display:flex;
    width:1000px;
    height: 600px;
    background-color: black;
    align-self:center;
    margin-bottom:20px;



 }


 .Free {

    display:flex;
    background-color:darkgray;
    justify-content:center;
    align-content:center;
    text-align:center;
    flex-direction:column;
    padding:20px;

 }

 .freetitle {

    display:flex;
    color:white;
    font-size: 40px;
    font-weight: 800;
    align-self:center;
    margin-top:-10px;

 }

 .freedes {

    display:flex;
    color:white;
    font-size: 20px;
    align-self:center;
    width:1000px;
    margin-top:-5px;

 }


 .whitespace {

    display:flex;
    background-color:white;
    width:100%;
    height:200px;


 }

 .footer {

    display:flex;
    background-color:slategray;
    width:100%;
    height:600px;



 }