.titlebar {

display:flex;
justify-content:space-between;

}

.subscribebox {

    display:flex;
    width:400px;
    gap:20px;
}

.subbox {

    display:flex;
    width:70px;
    height:100px;
    background-color:gray;


}

.subright {

    display:flex;
    flex-direction:column;


}


.subbig {

    display:flex;
    font-size:20px;
    font-weight:700;
    color:goldenrod;

}

.subsmall {

    display:flex;
    width:200px;
    margin-top:-10px;


}






.Title {

    display:flex;
    font-size:60px;
    flex-direction:column;
    gap:5px;


}



.toplinetitle {

    display:flex;
    color:goldenrod;
    height:50px;
    align-items:center;


}


.popular {

    display:flex;


}

.orangebox {


    display:flex;
    width:45px;
    height:45px;
    background-color:goldenrod;

}


.titlebottom {


    display:flex;
    margin-top:0px;

}


.shoptop {

    display:flex;
    background-color: teal;
    flex-direction:column;
    color:white;
    font-size:30px;
    font-weight:700;
    width:200px;
    height:150px;
    align-items:center;


}

.shop {

    display:flex;


}


.WWtop {

    display:flex;
    margin-top:-25px;

}


.shoppingC {

    display:flex;
    width:40px;
    height:40px;
    margin-top:-30px;



}


.nav {

    display:flex;
    text-decoration:none;
    width:100%;
    background-color:black;
    color:white;
    justify-content:space-around;
    align-items:center;
    position:sticky;
    top:0;


}

.navlist {


    display:flex;
    gap:20px;
    align-items:center;
    justify-content:center;


}

.navitem {


    display:flex;
    padding:6px;

}

li:hover {

    background-color:goldenrod;


}

.search {

    display:flex;
    width:30px;
    height:30px;



}

.wholead {

    display:flex;
    height:400px;



}



.aroundad {


    width:100%;
    display:flex;
    justify-content:space-around;
    align-items:center;
    background-color: white;



}



.advertisement {

    display:flex;
    width:1000px;
    height:150px;
    background-color:maroon;
    justify-content: center;
    margin-top:30px;

}


.latest {

    display:flex;
    margin-left:480px;


}

.postimgb {


display:flex;



}

.PostBig {

    display:flex;
    justify-content: center;
    gap:20px;




}


.bigimgone {

    display:flex;
    width:500px;
    height:350px;


}

.latestleft {

    display:flex;
    width:500px;
    flex-direction:column;

}

.latestright {

    display:flex;
    width:500px;
    flex-direction:column;

}

.smallcap {

    color:lightgray;

}

.imgtitle {

font-size:25px;
font-weight:700;
margin-top:-5px;



}


.imgdesc {

color:gray;
margin-top:-5px;

}


.keepreading {

padding:0px;
font-weight:700;
margin-top:-5px;

}

.keepreading:hover {

    color:goldenrod;


}